:root {
    --white: #fffbfb;
    /* --grey: #f0eef1; */
    --grey: #e5e7eb;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --neutral: #fafafa;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
    box-sizing: border-box;
}

body {
    /* display: flex; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-xl);
    background-color: var(--neutral);

}

button {
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
    border: none;
    font-weight: bolder;
}

.add-book-wrapper {
    /* border: 1px solid black; */
    text-align: center;
    padding: var(--spacing-xl) 0;
    background-color: var(--grey);
}

.add-book {
    font-size: 1.5rem;
}

/* main {
    background-color: var(--grey);
} */

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: var(--spacing-xl) var(--spacing-xl);
    gap: var(--spacing-xl);
}

.single-book {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border-radius: var(--border-radius);
    background-color: var(--neutral);
}

.remove,
.read,
.not-read {
    border: 1px solid black;
    width: 100%;
}

.single-book>div {
    font-weight: bold;
    font-size: 1.2rem;
}

.read {
    background-color: var(--light-green);
}

.not-read {
    background-color: var(--light-red);
}

footer {
    /* position: absolute; */
    width: 100%;
    /* left: 0; */
    /* bottom: 0; */
    text-align: center;
    /* border: 1px solid black; */
    padding: var(--spacing-md) 0;
    background-color: var(--grey);
    /* z-index: 0; */
}

/* ################ MODAL #################*/
.modal {
    /* display: flex; */
    /* display: none; */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    /* padding-top: 100px; */
    /* Location of the box */

    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.visible {
    display: flex;
}

.not-visible {
    display: none;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: var(--spacing-lg);
    border: 1px solid #888;
    width: 400px;
    border-radius: var(--border-radius);
    background-color: var(--grey);
}

form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: var(--spacing-lg);

}

form>p {
    font-weight: bolder;
    font-size: 1.5rem;
}

form>button {
    background-color: var(--light-green);
    width: 100%;
    font-weight: 500;
    font-size: 1.3rem;
}

label {
    font-weight: 500;
    font-size: larger;
}

.checkbox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: var(--spacing-md);
}

#title,
#author,
#pages {
    /* padding: var(--spacing-md); */
    min-height: 45px;
    font-size: 1.3rem;
    border-radius: var(--border-radius);
    padding: var(--spacing-md);
}

/* BODY */

.layout-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 50px;
    /* grid-template-rows: 1fr 5fr 1fr; */
    min-height: 100vh;
}